{% extends 'appointments/base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
<h1>Appointments</h1>

{% if request.user.is_staff %}
    <p>You are an admin and can see all appointments.</p>

{% endif %}

{% if appointments %}
    <table class="table table-bordered" style="width: 1000px;">
        <thead>
            <tr>
                <th>User</th>
                <th>Customer Name</th>
                <th>Employee</th>
                <th>Appointment Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}
    <tr>
        <td>{{appointment.user}}</td>
        <td>{{ appointment.customer_name }}</td>
        <td>{{ appointment.employee.name }}</td>
        <td>{{ appointment.appointment_time }}</td>
        <td>{{ appointment.status }}</td>
        <td>
            {% if appointment.status == 'Scheduled' %}
                <a href="{% url 'appointments:edit_appointment' appointment.id %}">Edit</a> |
                <a href="{% url 'appointments:cancel_appointment' appointment.id %}">Cancel</a>
            {% endif %}

            {% if request.user.is_staff and appointment.status == 'Scheduled' %}
                | <a href="{% url 'appointments:complete_appointment' appointment.id %}">Complete</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>You have no appointments.</p>
{% endif %}
{% endblock %}
