{% extends 'appointments/base.html' %}

{% block title %}Create Employee{% endblock %}

{% block content %}


<form method="post" enctype="multipart/form-data" class="custom-form">
    {% csrf_token %}
    <h2>Edit Employee</h2>
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
        {% if form.name.errors %}
            <div class="error">
                {% for error in form.name.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Employee Phone Field -->
    <div class="form-group">
        <label for="{{ form.phone.id_for_label }}">Phone</label>
        {{ form.phone }}
        {% if form.phone.errors %}
            <div class="error">
                {% for error in form.phone.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Employee Email Field -->
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Email</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="error">
                {% for error in form.email.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Employee Working Start Time -->
    <div class="form-group">
        <label for="{{ form.working_start_time.id_for_label }}">Working Start Time</label>
        {{ form.working_start_time }}
        {% if form.working_start_time.errors %}
            <div class="error">
                {% for error in form.working_start_time.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Employee Working End Time -->
    <div class="form-group">
        <label for="{{ form.working_end_time.id_for_label }}">Working End Time</label>
        {{ form.working_end_time }}
        {% if form.working_end_time.errors %}
            <div class="error">
                {% for error in form.working_end_time.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Employee Photo -->
    <div class="form-group">
        <label for="{{ form.photo.id_for_label }}">Photo</label>
        {{ form.photo }}
        {% if form.photo.errors %}
            <div class="error">
                {% for error in form.photo.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="submit-button">Save</button>
</form>

{% endblock %}
