<!-- service_list.html -->
{% extends 'appointments/base.html' %}

{% block content %}
<h1>Services</h1>
{% if user.is_staff %}
<a href="{% url 'appointments:create_service' %}">Add New Service</a>
{% endif %}

<div class="row">
    {% for service in services %}
        <div class="col-md-3 mb-4"> <!-- 4 cards per row, using col-md-3 for 4 columns in a 12-column grid -->
            <div class="card">
                <img src="{{ service.photo.url }}" class="card-img-top" alt="{{ service.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                    <p class="card-text">
                        <small class="text-muted">Price: {{ service.price }} pesos</small>
                    </p><br>

                    {% if user.is_staff %}
                        <a href="{% url 'appointments:edit_service' service.id %}">Edit</a> 
                                <form action="{% url 'appointments:delete_service' service.id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this servoce?')">Delete service</button>
                                </form>
  
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
